/*
Theme Name: Basketball
Theme URI: www.hasnews.com
Author: Muhammad Hasan
Author URI: mdhasan.com
Description: Newspaper template
Version: 1.0.0
Licence: GNU General Public Licence
Text Domain: hasnews
tags: Basketball, hasnews, blog
*/

/* Header Logo */
#logo{
    height: auto;
    width: 150px;
}
/* /Header Logo*/

/*Post Pagination*/
ul.page-numbers {
    list-style: none;
    margin: 0;
}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    text-align: center;
}
.page-numbers a,
.page-numbers span {
    line-height: 3em;
    display: block;
    padding: 0 6px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #888;
    height: 50px;
    width: 45px;
}
.page-numbers a span { padding: 0 }
.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    color: #000;
    background: #f7f7f7;
    text-decoration: none;
}
.page-numbers:hover { text-decoration: none }
span.page-numbers.current,
a.page-numbers{
    display: block;
    height: 50px;
    line-height: 50px;
    width: 45px;
    font-weight: 400;
    font-size: 15px;
}
ul.page-numbers li{
    margin-right: 10px;
}

/* End Post Pagination*/

/*single post pagination*/
h4 a{color: #000;}
/* End single post pagination*/

#comments li{
    list-style: none;
}
#comments ol li{
    margin-bottom: 50px;
}

/*Sidebar Start*/
.blog_right_sidebar aside.widget_categories ul li{
    line-height: 20px;
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
    padding-top: 15px;
}
.blog_right_sidebar aside.widget_categories ul li:last-child{
    border-bottom: none;
}
.blog_right_sidebar aside.widget_categories ul li a{
    color: #8a8a8a;
}
.blog_right_sidebar aside.widget_tag_cloud .tagcloud{

}
.blog_right_sidebar aside.widget_tag_cloud .tagcloud a{
    display: inline-block;
    background: #fff;
    border: 1px solid #eeee;
    padding: 4px 20px;
    margin-bottom: 8px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
}
.blog_right_sidebar aside.widget_tag_cloud .tagcloud a:hover{
    background: #ff8b23;
    color: #fff;
}

/* widgets Archives */
label.screen-reader-text{
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
select#archives-dropdown-3{
    height: 40px;
    padding: 10px;
    font-weight: 300;
}
/*End Archives*/

/*Widgets Calendar*/
#calendar_wrap table#wp-calendar{
    width:100%;
    font-weight: 300;
}

/*End Calendar*/

/* /Sidebar End */